@tailwind base;
@tailwind components;
@tailwind utilities;

#default-sidebar {
    width: 16rem; 
}

footer {
    background-color: #f3f4f6;
    padding: 1rem;
    width: 100%;
    bottom: 0;
}

main {
    margin-bottom: 4rem;
}
